@charset "utf-8";
body
{
	font-family: "microsoft yahei",Helvetica,Arial,sans-serif;
	background-color: #f0f2f5;
}
/*字体颜色*/
a 
{
	color: #333333;
}
a:hover
{
	color: #e6454a!important;
}
.left{
	float: left;
}
.right{
	float: right;
}
/*点击之后*/
.redClolr
{
	color: #e6454a!important;
}
/*选择样式*/
.color_btn
{
	border: 1px solid #e6454a!important;
	color: #e6454a!important;
}

/*灰色背景*/
.gray_bg{
	background: #ddd;
}

/*红色背景*/
.red_bg{
	background: #e6454a;
}

/*公共表单输入框(text)样式*/
.form-commomText
{
	border: none;
	border: 1px solid #fff;
	border-radius: 0px;
	border-bottom: 1px solid #e9ecee;
	box-shadow: inset 0 1px 1px #fff;
	outline: #fff;
	padding: 0 35px;
	
}
.form-commomText:focus {
    border: none;
	border: 1px solid #fff;
	border-radius: 0px;
	border-bottom: 1px solid #e6454a;
	box-shadow: inset 0 1px 1px #fff;
	outline: #fff;
    box-shadow:none;
}

/*a标签当做按钮,仅当class为"btn btn-danger"时添加"btn-a"类*/
.btn-a,.btn-a:hover{
	color: #fff !important;
	border: 0px;
}

/*透明提示框样式*/
.window_message{
	position: absolute;
	height: 150px;
	width: 200px;
	background: #000000;
	opacity: 0.8;
	border-radius:5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	color: #fff;
	line-height: 150px;
	text-align:center;
	display: block;
}
/*遮罩*/
.masker{
	position:fixed;
	display:none;
	top:0;
	left:0;
	background:#000;
	z-index:10;
	-moz-opacity:0.5;
	opacity:.50;
	filter:alpha(opacity=50);	
	z-index:5;
}

/*地图*/
#map_container,#address_container{
	display:none;
/* 	border:1px solid #ddd; */
	border-radius:5px;
	position: absolute;
	height: 500px;
	width: 700px;
	border-radius:4px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	z-index:999999 !important;
	background-color:#fff;
	z-index:10;
}
#address_container{
	height: 336px !important;
}
.map_line1,.address_line1{
	background:#379BE9!important;
	color:#fff;
	overflow: hidden;
}
.map_tip,.address_tip{
	float:left;
	margin:10px;
}
.map_close,.address_close{
	float:right;
	margin:10px;
	cursor:pointer;
}


@media screen and (max-width: 480px) { 
	#map_container{width:400px;height:300px;}
}

/*分页页码*/
#PageCode{padding: 15px 20px;text-align: center;color: #ccc;}
#PageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
#PageCode a:hover{text-decoration: none;border: 1px solid #e6454a;}
#PageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #e6454a;	border: 1px solid #e6454a;border-radius: 4px;vertical-align: middle;}
#PageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}

/*加载gif*/
.loading{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-40px;
	margin-top:-42px;
	display:none;
	z-index:999;
}
