.message{
	margin: 8px 0;
}

.jumbotron{
	padding: 0 10px;
}

.body{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #F1F2F6;
}

.body_info{
    position: relative;
    overflow: hidden;
    background-color:#ffffff;
    padding-top: 10px;
}

.btn{
	width: 49%;
}
.btn-position{
	margin-bottom: 20px; 
	text-align: right;
}

@media only screen and (min-width:768px ) {
	.btn{
		width: 150px;
		
		margin: 0 10px;
	}	
}

@media only screen and (max-width:768px ) {
	.btn-position{
	text-align: left;
}	
	.btn-single{
		width: 100%;
	}
}


.btn-danger-inherit{
    text-shadow: none;
    background-color: transparent;
    color:#E6454B ;
}


.Address-list-Line{
    position: absolute;
    height: 100%;
    width: 1px;
    left: 12px;
    background-color: #CCCCCC
}

.Address-list-box{
    width: 32px;
    position: relative;
    margin-left: 35px;
    height: 32px;
}

.Address-list-dont{
    position: absolute;
    left: -38px;
    top: -5px;
    height: 32px;
    width: 32px;
    background-image:url(images/order_details/dotted.png);
}



.font-left > span{
    position: relative;
    float: right;
}

ul{
    position: relative;
    list-style-type:none;
    outline: none;
    padding: 0;
}
li{
    margin-bottom: 21px;
}


.text-describe{
    color: #666;
}

.text-warning{
    color: #E7585A;
}

.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-18{
    margin-bottom: 18px;
}
.margin-bottom-22{
    margin-bottom: 22px;
}

#goodW,#goodV,#goodL,#other{
	display:none;
}

#orderMsg01{
	position:relative;
	overflow:hidden;
}
#orderStatus{
	position:absolute;
	right:20px;
	top:0px;
}