@charset "utf-8";
html,body{
	font-family: "microsoft yahei",Helvetica,Arial,sans-serif;
}
/*top头部*/
.navbar-default
{
	background-color: #fff;
	border-bottom:1px solid #dddddd;
}
.navbar
{
	border-top: none;
	margin-bottom: 0 !important;
}
.navbar-brand img
{
	margin-top: -8%;
}

.navbar-right li span
{
	position: relative;
	top: 13px;
	color: #dddddd;
}
/*头部标题*/
@media only screen and (min-width: 768px) and (max-width: 1000px) {
	.container{
		width: 100%;
	}
	li.li_border{
		display: none;
	}
	
}

@media only screen and (max-width:768px ) {
	li.li_border{
		display: none!important;
	}
}


@media screen and (min-width: 768px){
	.nav-left {
	    margin-left: 10%!important;
	}
}

/*登录注册的分隔符*/
li.li_border{
	color: #DDDDDD;
	margin-top: 15px;
}

/*用户类型*/
#nav_user_type{
	display:none;
}

#nav_call_car,#nav_driver,#nav_login,#nav_register{position:relative;cursor:pointer;}
#top_car_err,#top_driver_err,#top_login_err,#top_register_err{position:absolute;top:0px;left:12px}