 /**
  * Icons
  */
.header {
    background: url("../images/topback.gif") repeat-x scroll 0 0 transparent;
    height: 60px;
    position: relative;
    width: 100%;
    font-size: 20px;
}
.excel {
     background-image: url(../images/excel.png) !important;
}
.user_info {
     background-image: url(../images/user_info.png) !important;
}
.logout {
     background-image: url(../images/logout.png) !important;
}
.password {
     background-image: url(../images/password.png) !important;
} 
.app {
     background-image: url(../images/app.png) !important;
}
.login {
     background-image: url(../images/login.png) !important;
}
.logout {
     background-image: url(../images/logout.gif) !important;
}
.reset {
     background-image: url(../images/reset.png) !important;
}    
.house {
     background-image: url(../images/house.png) !important;
}
.save {
     background-image: url(../images/save.gif) !important;
}
.menu {
     background-image: url(../images/menu.png) !important;
}
.news {
     background-image: url(../images/news.png) !important;
}
.newspaper {
     background-image: url(../images/newspaper.png) !important;
}
.start {
     background-image: url(../images/start.png) !important;
}
.pause {
     background-image: url(../images/pause.png) !important;
} 
.accept {
     background-image: url(../images/accept.png) !important;
}
.view {
     background-image: url(../images/view.gif) !important;
}
.edit {
     background-image: url(../images/edit.gif) !important;
}
.print {
     background-image: url(../images/print.gif) !important;
}
.addline {
     background-image: url(../images/addline.gif) !important;
}
.deleteline {
     background-image: url(../images/deleteline.gif) !important;
}
.unaudit {
     background-image: url(../images/unaudit.gif) !important;
}
.audit {
     background-image: url(../images/unaudit.gif) !important;
}	
.addnew {
     background-image: url(../images/addnew.gif) !important;
}
.filter {
     background-image: url(../images/filter.gif) !important;
}
.print {
     background-image: url(../images/print.gif) !important;
}
.delete {
     background-image: url(../images/delete.gif) !important;
}
.find {
     background-image: url(../images/find.png) !important;
}

.lock {
     background-image: url(../images/lock.png) !important;
}
.key {
     background-image: url(../images/key.png) !important;
}
.cancel {
     background-image: url(../images/quit.gif) !important;
}
.config {
     background-image: url(../images/config.gif) !important;
}
.search {
     background-image: url(../images/search.png) !important;
}
.detail {
     background-image: url(../images/detail.png) !important;
} 
.refresh {
     background-image: url(../images/refresh.gif) !important;
}

.site {
     background-image: url(../images/site.png) !important;
}
.site_add {
     background-image: url(../images/site_add.png) !important;
}
.site_edit {
     background-image: url(../images/site_edit.png) !important;
}
.site_delete {
     background-image: url(../images/site_delete.png) !important;
}
.site_sys_work {
     background-image: url(../images/site_sys_work.png) !important;
}

.rss {
     background-image: url(../images/rss.png) !important;
}
.rss_add {
     background-image: url(../images/rss_add.png) !important;
}
.rss_edit {
     background-image: url(../images/rss_edit.png) !important;
}
.rss_delete {
     background-image: url(../images/rss_delete.png) !important;
}

.ctg {
     background-image: url(../images/ctg.png) !important;
}
.ctg_add {
     background-image: url(../images/ctg_add.png) !important;
}
.ctg_edit {
     background-image: url(../images/ctg_edit.png) !important;
}
.ctg_delete {
     background-image: url(../images/ctg_delete.png) !important;
}
.ctg_add_rss {
     background-image: url(../images/ctg_add_rss.png) !important;
}

.user {
     background-image: url(../images/user.png) !important;
}
.user_add {
     background-image: url(../images/user_add.png) !important;
}
.user_edit {
     background-image: url(../images/user_edit.png) !important;
}
.user_delete {
     background-image: url(../images/user_delete.png) !important;
}
.upload {
     background-image: url(../images/image_add.png) !important;
}
