@import '../ext-theme-classic/ext-theme-classic-all.css';
a{
	text-decoration: none;
	font-family: Tahoma;
}
a:hover{
	color: #f60;
}
a.quick-order-holder{
	color: #000;
}
a.quick-order-holder:hover{
	color: #f60;
	text-decoration: underline;
}