@charset "utf-8";
.main{
	background: #ffffff !important;
	overflow: hidden;
	margin-top: 15px;
}

.myTable{
	border:none;
	padding: 0px 20px;
}
table tr{
	height:60px;
	font-size:16px;
}
table tr td{
	line-height:60px !important;
}
table tr td a{
	color:red !important;
}

/*验证信息提示*/
#time_err,#time2_err,#contactName_err,#contactPhone_err,#contactName2_err,#contactPhone2_err,#goodsLength_err,#goodsNumber_err{
	position: relative;
	top:-13px;
}
#address_th_err,#address_xh_err{
	position: relative;
	top:-40px;
}

#img1{
	width:45px;
	height:45px;
	border-radius:50%;
}
