.reg_bg
{
	background-color: #fff;
	margin-top: 2%;
}
.text 
{
	text-align: center;
	padding: 5% 0%;
	color: #5c6068!important;	
}
#password-succeed-btn
{
	margin-top: 10px;
}

@media screen and (min-width: 992px){
	.text 
	{

		font-size: 18px!important;
		position: absolute;
		top: 30px;
	    left: 175px;
	}
}
/*大于768px*/
@media screen and (min-width: 769px) {
	/*字体*/
	.text 
	{
		font-size: 18px!important;
		position: absolute;
		top: 0px!important;
	    left: 125px!important;
	}
}
/*小于768px*/
@media screen and (max-width: 769px) {
	/*字体*/
	.text 
	{
		font-size: 18px!important;
		padding: 1% 0 !important;
	}
	.img-responsive{margin: auto;}
}
/*小于455px，大于329px*/
@media (min-width: 329px) and (max-width: 455px) {
	.img-responsive{margin: auto;}
}
/*小于330px*/
@media screen and (max-width: 330px) {

	/*字体*/
	.text {font-size: 16px;}
}
