*{margin:0 auto; padding:0;}
body{background:#eee;font-size:13px;}
a{text-decoration:none; cursor:pointer;}
ul{list-style:none;}

.box{width:1080px;background:#fff;}
/* --------------------头部-------------------- */
.top{width:1080px; border-bottom:1px solid #d5d5d5;overflow:hidden;}
.top_t{height:80px;}
.tit{ float:left; height:80px; line-height:80px;margin-left:20px;}
.type{font-size:26px; font-weight:bold;}
.number{color:#bdbdbd;font-size:14px; }
.top ul{width:1065px;margin-left:20px}
.top ul li{float:left;width:175px;height:30px; }
.top_b a{color:#08c;}
.top a:hover{color:red;}
.topright{float:right;margin:30px 10px 0 0;}
.topright input[type=text]{width:300px;height:30px;border:1px solid lightgray;}
.searchKey{ float:right;width:200px !important;}
.searchButton{ height:32px;line-height:30px;width:30px;background:url(../images/fdj1.png) white 5px 5px no-repeat;cursor:pointer;border:1px solid lightgray;border-left:0px;float:right;}

/* -------------------产品列表------------------ */
.list{width:100%;height:1440px;background:#fff;}
.list ul{width:98%;}
.list ul li{width:250px;height:320px;box-shadow: 0 2px 2px #c7c7c7; float:left; margin:20px 7px; color:#999;line-height:24px;cursor:pointer;}
.libox{border:1px solid #d5d5d5\9;margin:-1px\9; } /*  IE独有css  */
 .libox:hover{border:2px solid #d5d5d5;margin:-2px; }
.litop{height:245px;background:#f3f3f3;}
.litop img{width:250px;height:175px;}
.libottom{height:75px;margin-bottom:0;background:#fff;}
.lileft{float:left;padding-left:15px;margin-top:15px;}
.lileft img{width:46px;height:46px; }
.liright{float:left;padding-left:8px; margin-top:15px;}
.suppliername{display: block;max-width:100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float:left;}


#kkpager{width:1030px;height:80px;text-align:right;line-height:80px; background:#fff; padding-right:50px}
