@charset "utf-8";
/* CSS Document */
*{
	margin:0px auto;
	padding:0px;
	}
#nav{
	width:100%;
	height:auto;
	}
.head_content{
	height:120px;
	width:1210px;
	line-height:120px;
	background-color:white;
	}
.head_content img{
	display:block;
	float:left;
	vertical-align:middle;
	margin-top:32px;
	margin-left:20px;
	}
.head_content a{
	display:block;
	float:right;
	color:#c00;
	text-decoration:none;
	width:160px;
	height:44px;
	font-family:"华文行楷";
	font-size:24px;
	border:1px solid #c00;
	line-height:45px;
	text-align:center;
	margin-top:35px;
	border-radius:20px;
	margin-right:10px;
	}
.head_content a:hover{
	background-color:#c00;
	color:white;
	}
/*中间层*/
#container{
	width:100%;
	background:url(images/65.jpg) no-repeat scroll center center;
	height:553px;
	}
/*中间层图片滚动开始*/
.main {
    clear: both;
    margin: 0 auto;
	padding:0px;
    width: 1280px;
	height:auto;
}
.slider {
    height:auto;
    padding: 30px 0;
    width: 1280px;
}
.scrollBox {
    height: 490px;
    margin: 0 auto;
    position: relative;
    width: 1280px;
}
.scrollPic {
    height: 400px;
    margin: 0 auto;
    width: 800px;
}
.scrollPic .item {
    background:white no-repeat scroll center center;
    position: absolute;
	border:1px solid #e8c7a4;
    z-index: 10;
}
.scrollPic .item img {
    opacity: 0.8;
}
.scrollPic .current img {
    height: 490px;
    opacity: 1;
    width: 960px;
}
.scrollPic .iText {
    display: none;
}
.prevCur {
    cursor: pointer;
    display: block;
    height: 27px;
    left:0px;
    position: absolute;
    top:230px;
    width:22px;
	z-index:999;
}
.nextCur {
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    right: 0px;
    top: 230px;
    width: 22px;
	z-index:999;
}
.scrollDot {
    bottom: 0;
    left: 100px;
    position: absolute;
}

.prevCur {
    background:url(images/67044597.png) no-repeat scroll 0 0 transparent;
}
.nextCur {
    background:url(images/67046244.png) no-repeat scroll 0 0 transparent;
}
/*脚步*/
#foot{
	height:230px;
	background-color:#f4e4c4;
	width:100%;
	padding-top:15px;
	}
.foot_content{
	width:1120px;
	height:220px;
	text-align:center;
	}
.foot_content img{
	vertical-align:middle;}