@charset "utf-8";
/* CSS Document */
/* --------------------初始-------------------- */
*{margin:0px;padding:0px;}
li{list-style:none;}
img{border:none;}
a{text-decoration: none;color:#000;font-size:12px;font-family:宋体;}
body{font-size:14px;background:#f1f1f1;font-family:微软雅黑;}
.clear{zoom:1;}
.clear:after{content:'';display:block;clear:both;}

#header,#main,.retBtn,.content1,.content2{margin:0 auto;}
/* --------------------开头导航------------------ */
#header{background:#f0f0f0;width:1070px;height:36px;}
#header p{line-height:36px;padding-left:12px;}

/* --------------------主体-------------------- */
#main{width:1070px;font-family:微软雅黑;background:#fff;padding-top:30px;padding-bottom:120px;}
#main h3{border-bottom:1px solid #ccc;font-size:22px;height:45px;line-height:52px;margin-bottom:11px;font-weight:normal;}
.content1{width:994px;min-height:400px;padding:0 16px 15px;border:1px solid #ccc;}
/*详情*/
.detail{width:478px;min-height:324px;float:left;border:1px solid #e1e1e1;font-family:宋体;color:#919090;}
.detail span{color:#545454;}
.detail_fstate{height:50px;line-height:60px;border-bottom:1px solid #e1e1e1;text-indent:15px;}
.detail_content{padding:15px 30px;}
	.detail_content div{width:50%;float:left;}
	.detail_content p{min-height:30px;line-height:30px;}
	.detail p.address{clear:both;}
.detail_stock{padding:5px 15px;}
	.detail_stock dt{padding-bottom:10px;}
	.detail_stock dd{text-indent:15px;line-height:25px;}
/*文件*/
.files{float:left;padding-left:70px;font-family:宋体;width:438px;}
.files h5{color:#919090;font-size:14px;}
.files dl{padding-top:10px;float:left;}
.files dt{width:50px;height:50px;margin:0;position:relative;}
.files dt a{position:absolute;right:0;bottom:0;border:1px solid #545454;background:#fff;color:#545454;border-radius:2px;display:block;padding:3px 5px;display:none;}
.files dt:hover a{display:inline;}
.files dd{min-width:96px;margin:0;margin-bottom:20px;font-size:12px;color:#ccc;padding-top:8px;padding-right:6px;}
.files .download{clear:both;display:block;float:left;padding:8px 12px;background:#ed343f;color:#fff;margin-top:30px;margin-bottom:30px;border-radius:2px;}

.content2{margin-top:28px;width:994px;padding:0 16px 30px;border:1px solid #ccc;}
.content2 ul{float:left;padding-left:50px;padding-top:30px;margin-right:100px;display:inline;}
.content2 li{height:30px;line-height:30px;color:#919090;font-family:宋体;}
.content2 li span{color:#545454;}

.retBtn{width:172px;line-height:60px;background:#e03d46;color:#fff;font-size:18px;display:block;text-align:center;margin-top:44px;font-family:微软雅黑;border-radius:4px;}