
*
{
	margin:0px auto;
	padding:0px;
	font-family:"宋体";
	color:white;
}
body
{
	background-color: #f0f0f0;
	height: 2000px;
}
.lk_fuwu_banner
{
	width: 1100px;
	height: 280px;
}
.lk_fuwu_banner ul li
{
	float: left;
	list-style: none;
}
#lk_fuwu_con
{
	width: 1100px;
	height: 1430px;
	margin-top: 5px;
}

#lk_fuwu_con .lk_fuwu_title ul li 
{
	width: 150px;
	height: 50px;
	float: left;
	font-family: "黑体";
	font-size: 18px;
	font-weight: bold;
	color: #000;
	list-style: none;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
#lk_fuwu_con .lk_yuanchuang_content
{
	clear: both;
	width: 100%;
	height: 1430px;
	background-color: #fff;
	border: 1px solid #cbcbcb;

}
#lk_fuwu_con .lk_yuanchuang_content .lk_fuwu_yuanchuang
{
	width: 100%;
	height: 155px;
	margin-top: 20px;
	border-bottom: 1px solid #cbcbcb; 
}
#lk_fuwu_con .lk_yuanchuang_content .lk_fuwu_yuanchuang ul li
{
	float: left;
	margin-left: 23px;
}
#lk_fuwu_con .lk_yuanchuang_content .lk_fuwu_yuanchuang .lk_yuanchuang_pic
{
	width: 100px;
	margin-top: 50px;
}
#lk_fuwu_con .lk_yuanchuang_content .lk_fuwu_yuanchuang .lk_yuanchuang_text h1
{
	color: #d80c18;
	font-family: "黑体";
	font-weight: bold;
	font-size: 25px;
}
#lk_fuwu_con .lk_yuanchuang_content .lk_fuwu_yuanchuang .lk_yuanchuang_text p
{
	margin-top: 20px;
	width: 920px;
	font-family: "黑体";
	color: #000;
	line-height: 30px;
}
#lk_fuwu_con .lk_shuoming_text h1 span
{
	width: 7px;
	height: 21px;
	background-color: #d80c18;
	display: inline-block;
	vertical-align:text-bottom;
	margin-right: 10px;
}

#lk_fuwu_con .lk_shuoming_text h1
{
	color: #d80c18;
	font-family: "黑体";
	font-weight: bold;
	font-size: 22px;
	margin-left: 23px;
	margin-top: 50px;
}
#lk_fuwu_con .lk_shuoming_text p
{
	font-family: "黑体";
	font-size: 18px;
	color: #000;
	margin-top: 30px;
	margin-left: 40px;
}
#lk_fuwu_con .lk_flow_pic
{
	width: 924px;
	height: 408px;
	margin-top: 50px;
}
.fuwu_bgcolor
{
	background-color:#d80c18;
}
.lk_indexnone
{
	display: none;
}
.lk_indexblock
{
	display: block;
}