@CHARSET "UTF-8";
*{margin:0px auto;padding:0px;}
/*首页所有的菜单栏相同的样式*/
#head{height:221px;position:relative;}
#message{width:100%;background-color:#FFFADD;position:fixed;}
#message .head_message{width:1280px;height:auto;}
#head_content{width:100%;background-color:#f2f2f2;height:30px;font-size:12px;color:#aaa;}
#head .head_top{width:1270px;height:30px;line-height:30px;padding-left:10px;}
.head_top a{text-decoration:none;color:#aaa;}
.head_top a:hover{text-decoration:underline;color:#c00;}
/*头部搜索栏*/
#head .head_buttom{width:1280px;height:130px;}
.head_buttom table{text-align:center;height:130px;line-height:130px;}
.head_buttom a{float:left;}
.head_buttom .n1,.head_buttom span{float:left;}
.head_buttom .n1{margin-left:220px;margin-top:15px;height:35px;width:380px;padding-left:40px;font-size:16px;font-family:Arial, Helvetica, sans-serif;border:3px solid  #C00;background:url(images/fdj.png) #FFF 10px 8px no-repeat;}
.head_buttom .s3{width:80px;height:38px;margin-top:15px;}
.head_buttom .n2{height:41px;width:80px;font-size:17px;text-align:center;background-color:#C00;color:white;border:none;font-family:Arial, Helvetica, sans-serif;cursor:pointer;}
.head_buttom .n3{height:36px;width:136px;font-size:17px;text-align:center;border:1px solid #C00;padding-left:25px;background:url(images/yhzx.png) white 20px 5px no-repeat;font-family:Arial, Helvetica, sans-serif;cursor:pointer;}
.head_buttom .s4{margin-left:5px;margin-top:15px;}.head_buttom .s5{margin-left:100px;margin-top:15px;}
.head_buttom .ns{height:36px;width:136px;padding-left:17px;line-height:36px;border:1px solid #C00;background:url(images/car.png) 5px 5px no-repeat;cursor:pointer;text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:17px;
letter-spacing:2px;}
/*整个头部以上*/
.head_menu{width:1280px;height:50px;background-color:#CC0000;font-size:22px;font-family:Arial, Helvetica, sans-serif;}
.head_menu a{display:block;height:50px;width:150px;line-height:50px;float:left;text-align:center;letter-spacing:3px;}
.head_menu a{text-decoration:none;color:white;}
.head_menu .p1{background-color:#a21d1d;}
.down_list{width:146px;height:90px;border:2px solid #C00;border-top:none;position:absolute;z-index:9999;top:210px;left:40%;list-style:none;text-align:center;line-height:40px;letter-spacing:2px;display:none;background-color:white;}
.down_list a{text-decoration:none;color:#222222;font-size:20px;}
.down_list a:hover{color:#C00;background:none;}