#container {
	width: 1076px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom:20px;
}

#container .p1 {
	width: 1070px;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
}

.publish_main {
	width: 1050px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #cccccc;
}

.publish_tip1 {
	color: #777575;
	font-size: 14px;
	text-indent: 2em;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #e4e4e4;
}

.publish_form {
	
}

.red {
	color: red;
}

.publish_pro_left, .publish_pro_right {
	float: left;
}

.publish_pro_left {
	width: 125px;
	text-indent: 2em;
}

.pro_div1 {
	height: 95px;
	line-height: 95px;
	border-bottom: 1px solid #e4e4e4;
}

.pro_div1 input[type=text] {
	width: 655px;
	height: 40px;
	line-height: 40px;
	border: 1px solid lightgray;
}

.pro_name_tip {
	font-size: 12px;
}

.pro_div2 {
	height: 200px;
	border-bottom: 1px solid #e4e4e4;
}

.pro_div2 textarea {
	width: 820px;
	height: 150px;
	border: 1px solid lightgray;
	resize: none;
}

.pro_detial_tip {
	font-size: 12px;
	margin-left: 112px;
	margin-top: 10px;
}

.pro_div2_01 {
	margin-top: 20px;
	overflow: hidden;
}

.pro_div3 {
	border-bottom: 1px solid #e4e4e4;
	overflow: hidden;
	padding-bottom: 30px;
}

.pro_div3_left {
	padding-top: 50px;
}

.pro_img_a, .pro_img_start {
	display: inline-block;
	height: 40px;
	width: 110px;
	background: #e03d46;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	text-indent: 0;
	cursor: pointer;
	float: left;
	margin-top: 36px;
}

#picker {
	display: inline-block;
	height: 40px;
	width: 110px;
	background: #e03d46;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	text-indent: 0;
	cursor: pointer;
	float: left;
	margin-top: 36px;
}

.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #e03d46;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	height:40px; width:110px;
	line-height:40px;
}
.webuploader-pick-hover {
	background: #e03d46;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}



/**/

/**/
.pro_div3 .pro_img_tip {
	width: 500px;
	color: #999999;
	font-size: 12px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
	line-height: 20px;
	padding-top: 36px;
}

.pro_div3 .pro_img_list, .pro_div3 .pro_img_upload {
	clear: both;
	overflow: hidden;
	width: 925px;
	float: right;
}

.pro_div3 .pro_img_list ul {
	overflow: hidden;
	margin: 0px;
	padding: 0;
	margin-top: 10px;
}

.pro_div3 .pro_img_list ul li {
	list-style: none;
	width: 100px;
	height: 100px;
	position: relative;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.pro_div3 .pro_img_list ul li img {
	width: 100px;
	height: 80px;
}

.pro_div3 .pro_img_list ul li .close {
	position: absolute;
	width: 16px;
	height: 16px;
	background:  url(images/close-hover.gif) center no-repeat;
	cursor: pointer;
	top: 2px;
	right: 2px;
}

.pro_div4,.pro_div6{	border-bottom:1px solid #e4e4e4;
	overflow:hidden;
	padding-bottom:30px;
	clear:both;}
.pro_div4 select,.pro_div6 select{
	 width:340px;
	 height:40px;
	 border:1px solid lightgray;
	 line-height:40px;
	}
.pro_div4 .pro_authorize,.pro_div6 .pro_type{
	margin-top:40px;
	}

.pro_div5 {
	padding-bottom: 30px;
	overflow: hidden;
}

.pro_div5 a {
	margin-left: 124px;
}