*{
	margin:0px auto;
	padding:0px;
	}
#nav{
	margin-top:10px;
	width:1025px;
	}
#head{
	width:1025px;
	height:105px;
	}
#container{
	width:100%;
	height:70px;
	border-bottom:2px solid #999;
	line-height:70px;
	font-size:26px;
	font-family:Arial, Helvetica, sans-serif;
	}
#container .txt1,#container .txt2{
		width:165px;
		text-align:center;
		float:left;
		min-top:10px;
	}
#container .txt1{
		margin-left:260px;
		color:red;
		border-bottom:3px solid #F00;
	}
#container .txt2{
		color:#999;
		margin-left:60px;
	}
#foot{
	width:1025px;
	height:460px;
	border-collapse:0px;
	white-space-collapse:collapse;
		}
#foot table{
	margin-top:13px;
	}
#foot table tr td{
		height:60px;
		line-height:60px;
		font-family:Arial, Helvetica, sans-serif;
		color:#666666;
		font-size:18px;
	}
#foot table .n5{
	width:280px;
	height:35px;
	line-height:35px;
	}
#foot table .tdd{
		width:200px;
		text-align:right;
		margin-right:10px;
	}
#foot table .n4{
		height:35px;
		width:150px;
		line-height:35px;
	}
#foot table .img{
		width:110px;
		height:38px;
		text-decoration:none;
		color:black;
		text-align:center;
		font-size:14px;
		margin-left:5px;
	}

#foot table tr td .tip{
		height:35px;
		width:260px;
		text-align:left;
		line-height:35px;
		margin-left:5px;
		color:#666;
		font-size:12px;
		border:1px solid #999;
		word-wrap:break-word;
	}
.dg,#foot p{
	float:left;
	}
.dg{
	margin-top:80px;
	margin-left:235px;
	}
.tlt1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#222222;
	height:100px;
	margin-left:80px;
	margin-top:110px;
	margin-bottom:20px;
	}
.tlt1 span{
	margin-bottom:10px;
	font-size:18px;
	}
.tlt1 span a{
		color:#d70c19;
	}