@charset "utf-8";
*{
	margin:0px auto;
	padding:0px;
	font-family:"宋体";
	}
input{
	outline:none;
}
.noselect{
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
#head_top{
	width:100%;
	height:32px;
	line-height:32px;
	background-color:#f1f1f1;
	}
#head_top .top_content{
	width:1280px;
	height:32px;
	font-size:12px;
	}
#head_top .top_content .quit{
	text-decoration:none;
	}
#head_top .top_content .quit:hover{
	color:#C00;
	}
#head_bottom{
	width:100%;
	height:80px;
	background-color:#C00;
	}
#head_bottom .bottom_content{
	width:1280px;
	height:80px;
	}
.bottom_content .logo{
	text-decoration:none;
	display:block;
	width:110px;
	height:40px;
	margin-top:20px;
	*+margin-top:10px;
	+margin-top:10px;
	}
.bottom_content .form_search{
	width:1085px;
	height:80px;
	}
.form_search .forSearch{
	width:290px;
	height:25px;
	border:none;
	font-family:"微软雅黑";
	font-size:16px;
	float:right;
	padding-left:5px;
	margin-top:27px;
	*+margin-top:14px;
	+margin-top:14px;
	}
.form_search .forSubmit{
	border:none;
	background-color:white;
	height:25px;
	float:right;
	margin-top:27px;
	*+margin-top:14px;
	+margin-top:14px;
	margin-right:90px;
	*+margin-top:45px;
	+margin-top:45px;
	cursor:default;
	}
.bottom_content .personMind{
	border:none;
	width:80px;
	height:80px;
	background:url(images/user.png) #C00 30px 30px no-repeat;
	cursor:pointer;
	}
.bottom_content .logo,.bottom_content .form_search,.bottom_content .personMind{
	float:left;
}
/*内容开始*/
#iframepage{width:1070px;}
#container{
	width:1280px;
	min-height:550px;
	
	}
#container .menu,#container .content{
	float:left;
	}
#container .menu{
	width:200px;
	}
.menu .space{
	height:35px;
	}
.menu .ztree{
	width:200px;
	}
.menu .ztree p{
	width:190px;
	padding-left:10px;
	height:35px;
	color:white;
	background-color:#C00;
	line-height:35px;
	font-family:"微软雅黑";
	border-radius:3px;
	letter-spacing:3px;
	cursor:pointer;
	}
.menu .ztree p:hover{
	font-size:18px;
	font-weight:bolder;
	}
.menu .ztree .ztree_content{
	width:200px;
	}
.menu .ztree .ztree_content li{
	line-height:30px;
	}
.menu .ztree .ztree_content li a{
	display:block;
	text-decoration:none;
	color:black;
	width:170px;
	height:30px;
	padding-left:30px;
	font-size:14px;
	letter-spacing:3px;
	}
.menu .ztree .ztree_content li a:hover{
	color:white;
	background-color:#ccc;
	}
#container .menu ul li{
	list-style:none;
	cursor:default;
	margin-bottom:4px;
	}
#container .content{
	width:1070px;
	margin-left:10px;
	+margin-left:5px;
	*+margin-left:5px;
	background-color:#fff;
	}
/*尾部*/
#foot{
	background-color:#202223;
	width:100%;
	text-align:center;
	clear:both;
	}
.menu .ztree .current_t{
	font-size:18px;
	text-align:center;
	}
